ops
oci-image
charmed-kubeflow-chisme
lightkube-models==1.25.4.4
# Pinning to >6.0 to ensure build is successful in track/1.7 (Issue https://github.com/juju/python-libjuju/issues/913)
pyyaml>6.0
serialized-data-interface<0.5
# Unittest will fail without pinning
