aiohttp
jinja2
# FIXME: This is a workaround for https://github.com/juju/python-libjuju/issues/913
# please pin to a released python-libjuju ASAP.
juju @ git+https://github.com/DnPlas/python-libjuju@dnplas-pyyaml-6
pytest-operator
requests
tenacity
-r requirements.txt
