# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm:
        - jupyter-controller
        - jupyter-ui
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check libs
      uses: canonical/charming-actions/check-libraries@2.1.1
      with:
        charm-path: ./charms/${{ matrix.charm }}
        credentials: "${{ secrets.charmcraft-credentials }}"
        github-token: "${{ secrets.GITHUB_TOKEN }}"

  unit:
    name: Unit Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [controller, ui]
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt update
    - run: sudo apt install tox
    - run: tox -e ${{ matrix.charm }}-unit

  charm-integration:
    name: Individual charm's integration tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [controller, ui]
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Setup operator environment
      # TODO: Unpin this when https://github.com/charmed-kubernetes/actions-operator/pull/46 is merged
      uses: claudiubelu/actions-operator@18ebf92ae3043bd3dd15238e5d9b662d7ba08daf
      with:
          provider: microk8s
          channel: 1.22/stable
          charmcraft-channel: latest/candidate
        # TODO: Unpin this when this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833.
        #       In particular, these tests failed deploying the prometheus-k8s charm where it gets an error in
        #       the "metrics-endpoint-relation-changed" hook.
          bootstrap-options: --agent-version="2.9.34"
          microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"
    - run: tox -e ${{ matrix.charm }}-integration

  lint:
    name: Lint Code
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [controller, ui]
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt update
    - run: sudo apt install tox
    - run: tox -e ${{ matrix.charm }}-lint

  bundle-integration:
    name: Bundle Integration
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Setup operator environment
      # TODO: Unpin this when https://github.com/charmed-kubernetes/actions-operator/pull/46 is merged
      uses: claudiubelu/actions-operator@18ebf92ae3043bd3dd15238e5d9b662d7ba08daf
      with:
          provider: microk8s
          channel: 1.22/stable
          charmcraft-channel: latest/candidate
        # TODO: Unpin this when this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833.
        #       In particular, these tests failed deploying the prometheus-k8s charm where it gets an error in
        #       the "metrics-endpoint-relation-changed" hook.
          bootstrap-options: --agent-version="2.9.34"

      # TODO: Remove once the actions-operator does this automatically
    - name: Configure kubectl
      run: |
        sg microk8s -c "microk8s config > ~/.kube/config"

    - name: Run test
      run: |
        sg microk8s -c "microk8s enable ingress metallb:10.64.140.43-10.64.140.49"
        sudo apt install tar wget
        # Install firefox-geckodriver from source to avoid issues
        wget https://github.com/mozilla/geckodriver/releases/download/v0.28.0/geckodriver-v0.28.0-linux64.tar.gz
        tar xf geckodriver-v0.28.0-linux64.tar.gz
        sudo mv geckodriver /usr/local/bin
        sudo snap install juju-bundle --classic
        sudo snap install juju-wait --classic
        sudo snap refresh charmcraft --channel=latest/candidate
        juju add-model kubeflow
        sg microk8s -c "tox -e integration -- --model kubeflow"

    - run: kubectl get all -A
      if: failure()

    - run: kubectl get notebooks -A
      if: failure()

    - run: kubectl get pods -A -oyaml
      if: failure()

    - run: juju status
      if: failure()

    - name: Get jupyter-controller workload logs
      run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=jupyter-controller
      if: failure()

    - name: Get jupyter-controller operator logs
      run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=jupyter-controller
      if: failure()

    - name: Get jupyter-ui workload logs
      run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=jupyter-ui
      if: failure()

    - name: Get jupyter-ui operator logs
      run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=jupyter-ui
      if: failure()

    - name: Generate inspect tarball
      run: >
        sg microk8s <<EOF
          microk8s inspect | \
          grep -Po "Report tarball is at \K.+" | \
          xargs -I {} cp {} inspection-report-${{ strategy.job-index }}.tar.gz
        EOF
      if: failure()

    - name: Upload inspect tarball
      uses: actions/upload-artifact@v2
      with:
        name: inspection-reports
        path: ./inspection-report-${{ strategy.job-index }}.tar.gz
      if: failure()

    - name: Upload selenium screenshots
      uses: actions/upload-artifact@v2
      with:
        name: selenium-screenshots
        path: /tmp/selenium-*.png
      if: failure()

    - name: Upload HAR logs
      uses: actions/upload-artifact@v2
      with:
        name: selenium-har
        path: /tmp/selenium-*.har
      if: failure()
